body {
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 0;
    font-family: 'Arial', sans-serif;
}
.signup-container {
    background-color: #1a1a1a;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}
.form-control {
    background-color: #333;
    border: none;
    color: #fff;
}
.form-control::placeholder {
    color: #aaa;
}
.btn-signup {
    background-color: #F2613F;
    border: none;
    color: #fff;
    font-weight: bold;
    transition: background-color 0.3s;
}
.btn-signup:hover {
    background-color: #D95A2A;
}
.text-white {
    color: #fff;
}
.input-group-text {
    background-color: #333;
    border: none;
    color: #fff;
}
.input-group-text i {
    color: #F2613F;
}
/* If you're not using Bootstrap, you can define your custom styles for these alerts */
.alert {
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 5px;
}

.alert-danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.alert-success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.alert ul {
    list-style-type: none;
    padding-left: 0;
}

.alert li {
    margin: 5px 0;
}
